@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-spiritual-dark: #121212;
  --color-spiritual-gold: #c5b358;
  --color-spiritual-sand: #e5d3b3;
  --color-spiritual-white: #f5f5f5;
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

:root {
  --background: #f5f5f5; /* spiritual-white */
  --foreground: #121212; /* spiritual-dark */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f5f5f5;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
